[Unit]
Description=Toit Windows Signing Service
Requires=pcscd.socket
After=network-online.target pcscd.socket
Wants=network-online.target

[Service]
Type=simple
User=YOUR_USERNAME
ExecStart=/bin/bash /home/YOUR_USERNAME/sign/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
